<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CoDraw</title>

		<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/addons/p5.sound.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="./public/libs/three.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<style>
			.body {
				margin: 0;
				padding: 20px;
			 }
			.canvas { display: block; }

			.button {
		  background-color: #C7C7C7;
		  border-radius: 12px;
		  color: white;
		  padding: 20px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  width: 100px;
		  }
		</style>
		<div class = "container-fluid">
		<img src="./public/res/backseat.jpg"alt="Image">
		</div>
	</head>
	<body>
		<script src="./public/js/sketch.js"></script>

		<div class="jumbotron text-center">
			<!-- <h1>codesign vr</h1>
			<h2>codesign!</h2> -->
		</div>
	</body>
</html>
